.home img{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}
.homecontent{
    position: absolute;
    top: 40%;
    left: 24%;
    transform: translate(-50%,-50%);
    font-size: 10px;
}

.homecontent h1{
    color:blue;
    font-size: 20px;
}

.homecontent a{
    margin-top: 10px;
}
.btn-lg {
    padding: -39.5rem 7rem;
    font-size: 1.25rem;
    border-radius: -0.7rem;
}

@media screen and (max-width:600px)
{
    .home img
    {
        height: 700px;
    }
    .homecontent h1{
        font-size: 40px;
    }
}